<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table>
  <thead>
    <tr>
      <th>Source</th>
      <th>Title</th>
      <th>Url</th>
      <th>Location</th>
      <th>Has started</th>
      <th>Funding threshold</th>
      <th>Funding limit</th>
      <th>Funding current</th>
      <th>Investors count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.source %></td>
        <td><%= project.title %></td>
        <td><%= project.url %></td>
        <td><%= project.location %></td>
        <td><%= project.has_started %></td>
        <td><%= project.funding_threshold %></td>
        <td><%= project.funding_limit %></td>
        <td><%= project.funding_current %></td>
        <td><%= project.investors_count %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
